

<!-- essay -->
<div class="essay template" hidden>
	<!-- summary -->
	<div class="summary question-section">

		<div class="ui items">
			<div class="item">
				<div class="content">
					<div class="header">Question <span data-x="number">4</span></div>
					<div class="meta">
						<div class="ui padded stackable grid">
							<div class="three wide column">
                                <input type="hidden" value="essay" data-x="type" />
								<span >Essay</span>
								<br>
								<span data-x="points"></span> Points
							</div>
							<div class="ten wide column">
								<span data-x="prompt-substr"></span>
							</div>
							<div class="two wide column center aligned">
								<div class="ui mini basic icon button questionEdit" data-content="Edit"><i class="pencil icon"></i></div>
								<div class="ui mini basic icon button questionDelete" data-content="Delete"><i class="delete icon"></i></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

	<!-- edit -->
	<div class="edit question-section">
		<div class="ui form secondary segment">
			<h3 class="ui left floated header">
				Question <span data-x="number"></span>
				<div class="sub header">Essay</div>	
			</h3>
			<a style="float:right; color:rgba(0, 0, 0, 0.8) !important" class="questionReset questionSummary" data-content="Cancel"><i class="delete icon"></i></a>

			<div class="two fields">
				<div class="three wide field">
					<label for="points">Point Value:</label>
					<input name="points" data-x="points" type="text"/>	
				</div>
				<div class="thirteen wide field">
					<label for="prompt">Prompt:</label>
					<input type="text" data-x="prompt" name="prompt" placeholder="What is the..."> 
				</div>
			</div>

			<div class="ui bold text">Options:</div>
			<div class="ui segment options">
				<h2 class="ui faded centered text header">No options available</h2>						
			</div>

			<div class="ui divider"></div>
			<div class="ui blue button questionSubmit">Save Question</div>
			<div class="ui right floated button questionReset questionSummary">Cancel</div>

			<div class="ui inverted dimmer">
				<h2 class="ui icon header" style="position:absolute; top:25%; left:0; right:0">
					<i class="green checkmark icon"></i>
					Question Saved!
				</h2>
			</div>

		</div>


	</div>

</div>