{% extends "student/common/base.html" %}

{% block pagecontent %}

<div class="sixteen wide center aligned column" style="padding-top:10em;">
	<h1 class="ui massive header" style="font-size:4em">
		Enter exam token:          
	</h1>
	<br>

	<div class="ui fluid huge input">
		<input type="text" style="width:100%">
	</div>
	<br>
	
	<div class="ui two column grid">
		<div class="column">
			<div class="ui big fluid blue button">Begin Exam</div>

		</div>
		<div class="column">
			<div class="ui big fluid basic button">View grades</div>

		</div>
	</div>

</div>

{% endblock %}


{% block javascript %}
{% load static %}
<script src="{% static 'js/student-index.js' %}"></script>
{% endblock %}
