{% extends "student/common/base.html" %}

{% block pagecontent %}
	<div class="two fields">
		<h1 class="ui bold header field">Exam: {{ exam.name }}</h1>
	</div>

	{% for question in questions %}
	<div class="ui right segment item">
		{% if question.category == "shortanswer" %}
		{% include "dashboard/short-answer.html" %}
		<div class="ui horizontal divider"></div>
		{% endif %}
	</div>
	{% endfor %}

{% endblock %}

{% block javascript %}
{% load static %}
<script src="{% static 'js/student-index.js' %}"></script>
{% endblock %}










