<div class="ui small modal" id="confirmExitModal">
	<i class="close icon"></i>
	<div class="header">
		Important
	</div>

	<div class="content">
	    <h1 class="ui header">
           <div class="content">
               	       <i class="warning sign icon"></i>You have unanswered questions

           </div>
	       <div class="sub header">Are you sure you wish to continue?</div>
	    </h1>
	</div>
	<div class="actions">
		<div class="ui blue save button">Yes</div>
		<div class="ui close button">No</div>
	</div>
</div>

