.ui.segment.options{
	padding:2em !important; 
}

input[type="text"]{
	background-color: #FFF !important;	
}

.question-list > div{
	margin-top:1em !important;	
	margin-bottom:1em;	
}

.item.disabled{
     pointer-events:none;   
    cursor:default;
    opacity: 0.75;
}