<!DOCTYPE html>
<html>
	<head>
		<!-- Meta data -->
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

		<!-- Stylesheets -->
		<link rel="stylesheet" href="http://cdn.patcave.info/css/semantic.min.css">
		<style>
			body{
				background-color:#1B1C1D
			}
		</style>
	</head>
	<body>
		<div class="ui centered stackable page grid">
			<div class="seven wide column" style="padding-top:150px">
				<h1 class="ui top attached block centered header" style="font-size:2.5em">Login</h1>
				<div class="ui tall bottom attached segment">
					<form class="ui {{ error|yesno:'error,' }} form" method="POST">
						{% csrf_token %}
						{% if error %}
						<div class="ui small error icon message">
							<i class="warning icon"></i>
							<div class="content">
								<div class="header">Error</div>
								<p>{{ error }}</p>
							</div>
						</div>
						{% endif %}
						<div class="field">
							<label>Username</label>
							<div class="ui large left icon input">
								<input type="text" name="username">
								<i class="user icon"></i>
							</div>
						</div>
						<div class="field">
							<label>Password</label>
							<div class="ui large left icon input">
								<input type="password" name="password">
								<i class="lock icon"></i>
							</div>
						</div>
						<div class="ui hidden divider"></div>
						<div class="field">
							<button type="submit" class="ui big fluid animated blue button">
								<div class="visible content">Log in</div>
								<div class="hidden content">
									<i class="right arrow icon"></i>
								</div>
							</button>
						</div>

					</form>

				</div>
			</div>
		</div>

		<!-- Javascript -->
		<script src="http://cdn.patcave.info/js/jquery.min.js"></script>
		<script src="http://cdn.patcave.info/js/semantic.min.js"></script>
		<script>
			$('.ui.checkbox').checkbox();
			$('.ui.popup').popup();
			$('.ui.selection.dropdown').dropdown();

			$('.message .close').on('click', function() {
				$(this).closest('.message').fadeOut();
			});

			$('.ui.form').form({
				inline:true,
				username:{
					identifier:'username',
					rules:[
						{type:'empty', prompt:'Please enter a username'}
					]
				},
				password:{
					identifier:'password',
					rules:[
						{type:'empty', prompt:'Please enter a password'}
					]
				}				
			},
			{
				inline:true, 
				on:'blur'
			});

		</script>
	</body>
</html>
