<div class="ui small modal" id="addCourseModal">
	<i class="close icon"></i>
	<div class="header">
		New Course
	</div>
	<div class="content">
		<form class="ui form">
 			{% csrf_token %}
			<div class="field">
				<label>Course Name <span class="ui secondary text"> (Can be changed later) </span></label>
				<input name="course_name" type="text">
			</div>
		</form>
	</div>
	<div class="actions">
		<div class="ui blue save button">Save</div>
		<div class="ui close button">Cancel</div>
	</div>
</div>

