<!DOCTYPE html>
<html>
    <head>
        <!-- Meta data -->
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

        <!-- Stylesheets -->
        <link rel="stylesheet" href="http://cdn.patcave.info/css/semantic.min.css">

        <style>
            .ui.menu .column .header.item{
                background-color:transparent;
            }

            .ui.main.grid{
                border-radius:0;
            }

            /* If this color is good, i'll change my build of Semantic to use this as blue instead*/
            .dark.blue{
                background-color:#224c6f !important;
            }

            /* Overflow, need to report this as bug */
            .ui.vertical.menu{
                width:auto;
            }
            
            .header .right.floated{
                 float:right;   
            }
        </style>
    </head>
    <body>

        <div class="ui main relaxed padded grid inverted dark blue large borderless menu">
            <div class="column">
                <div class="header item">Seat Admin Dashboard</div>

                <div class="right menu">
                    <div class="item">
                        <div class="ui icon input">
                            <i class="search icon"></i>
                            <input type="text" placeholder="Search...">
                        </div>

                    </div>
                    <a href="#" class="item icon button" data-content="Logout"><i class="sign out icon"></i></a>
                </div>
            </div>
        </div>

        <div class="ui relaxed padded grid">
            <div class="three wide column">
                <div class="ui fluid green labeled icon button"><i class="plus icon"></i> Create New Test</div>
                <h3 class="ui dividing header">Courses
                    <a href="#" class="right floated" data-content="Add a course."><i class="plus icon"></i></a>
                </h3>
                <div class="ui secondary animated vertical menu" style="margin-top:0">
                    <a class="active item">CS2050 - Algorithm Design II</a>
                    <a class="item">ECE1210 - Digital Logic</a>
                    <a class="item">CS1000 - Introduction to Computer Science </a>
                </div>

            </div>

            <div class="thirteen wide column">
                <h1 class="ui top header">CS2050 - Algorithm Design II</h1>
                <div class="ui bottom attached segment">

                    <div class="ui grid">
                        <div class="ten wide column">
                            Sort by
                            <div class="ui inline dropdown">
                                <div class="text">date</div>
                                <i class="dropdown icon"></i>
                                <div class="menu">
                                    <div class="item">date</div>
                                    <div class="item">name</div>
                                    <div class="item">questions</div>
                                    <div class="item">submissions</div>
                                    <div class="item">average Score</div>
                                </div>
                            </div>

                            <div class="ui divided link items">

                                <div class="item">
                                    <div class="content">
                                        <div class="header">Exam 1</div>
                                        <div class="meta">
                                            <span class="right floated">
                                                <i class="ellipsis vertical icon"></i>
                                            </span>
                                            <span class="date">01/15/2015</span>
                                            <span>|</span>
                                            <span class="stay">25 Questions</span>
                                        </div>
                                        <div class="description">
                                            <a href="#">22 Submissions</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="item">
                                    <div class="content">
                                        <div class="header">Exam 2</div>
                                        <div class="meta">
                                            <span class="right floated">
                                                <i class="ellipsis vertical icon"></i>
                                            </span>
                                            <span class="date">01/01/2015</span>
                                            <span>|</span>
                                            <span class="stay">25 Questions</span>
                                        </div>
                                        <div class="description">
                                            <a href="#">22 Submissions</a>
                                        </div>
                                    </div>
                                </div>


                            </div>

                        </div>


                        <div class="six wide column">
                            <h5 class="ui top attached block header"> <i class="bar chart icon"></i> Overview</h5>
                            <div class="ui bottom attached segment">

                            </div>
                        </div>


                    </div>


                </div>
            </div>

        </div>

        <!-- Javascript -->
        <script src="http://cdn.patcave.info/js/jquery.min.js"></script>
        <script src="http://cdn.patcave.info/js/semantic.min.js"></script>
        <script>
            $('.ui.checkbox').checkbox();

            $('[data-content]').popup({
                position: "top center"
            });


            $('.ui.dropdown').dropdown({
                transition: 'drop'
            });

            $('.message .close').on('click', function() {
                $(this).closest('.message').fadeOut();
            });
        </script>
    </body>
</html>
