{% extends "dashboard/common/base.html" %}

{% block pagecontent %}

{% include "dashboard/courses-list.html" %}
{% include "dashboard/modals/renameCourse.html" %}

<div class="twelve wide column" id="main">
	<h1 class="ui dividing header">
		<div class="content">
			{{ course.name }}
		</div>
	</h1>
	<div class="ui tiny button" data-role="renameCourse">Rename</div>
	<input type="hidden" value="{{course.id}}" id="course-id">
	<div class="ui tiny right floated red button" id="delete-course">Delete Course</div>
	<br>
	<br>
	<div class="ui doubling two column grid">
		<div class="column">
			<div class="ui fluid card">
				<div class="content">
					<i class="right floated delete icon" data-content="Delete Exam"></i>
					<div class="header">Exam 1</div>
					<div class="meta">
						<span class="date" data-content="Last Modified"><i class="clock icon"></i> April 23, 2015</span>
					</div>
					<div class="ui tiny blue statistic">
						<div class="value">20</div>
						<div class="label">Questions</div>
					</div>
					<div class="ui tiny blue statistic">
						<div class="value">0</div>
						<div class="label">Submissions</div>
					</div>

					<h4 class="ui header">Tokens</h4>
					<div class="ui three column grid">
						<div class="row">
							<div class="column">b5Xd77</div>
							<div class="column">View</div>
							<div class="column"><div class="ui small green label">Open</div></div>
						</div>
						<div class="row">
							<div class="column">afD33z</div>
							<div class="column">View</div>
							<div class="column"><div class="ui small purple label">Closed</div></div>
						</div>
					</div>
				</div>
				<div class="ui bottom attached two buttons">
					<div class="ui button"><i class="pencil icon"></i> Edit Exam</div>
					<div class="ui button"><i class="plus icon"></i> New Token</div>
				</div>
			</div>


		</div>
		<div class="column"></div>
	</div>

</div>
{% endblock %}


{% block javascript %}

{% load static %}
<script src="{% static 'js/rename-course.js' %}"></script>
<script src="{% static 'js/delete-course.js' %}"></script>
<script src="{% static 'js/jquery.cookie.js' %}"></script>
<script src="{% static 'js/course.js' %}"></script>

{% endblock %}
