{% extends "dashboard/common/base.html" %}

{% block pagecontent %}

{% include "dashboard/courses-list.html" with current_course=course %}
{% include "dashboard/modals/renameCourse.html" %}
{% include "dashboard/modals/newToken.html" %}

<div class="twelve wide column" id="main">

	{% if course.exam_set.all %}

	<div class="ui two doubling cards">
		{% for exam in course.exam_set.all %}	
		<div class="card">
			<div class="content">

				<div class="right floated">
					<a href="{% url 'dashboard.views.exam_edit' exam.id %}" class="ui faded text"><i class="pencil icon" data-content="Edit Exam"></i></a>
					<span class="ui faded text" data-role="delete" data-id="{{ exam.id }}"><i class="delete icon" data-content="Delete Exam"></i></span>
				</div>

				<a href="{% url 'dashboard.views.exam_edit' exam.id %}" class="ui large link header">{{ exam.name }}</a>
				<div class="meta">
					<span class="date"><i class="clock icon"></i> {{ exam.updated_at|date:"DATE_FORMAT" }}</span>
				</div>
				<br>
				<div class="ui two column grid">
					<div class="column">
						<div class="ui tiny blue statistic">
							<div class="value">{{ exam.question_set.all|length }}</div>
							<div class="label">Questions</div>
						</div>

					</div>
					<div class="column">
						<div class="ui bold text">Tokens</div>

						<div class="token">
							&nbsp;&nbsp;
							<div class="ui dropdown" data-tokenid="7">
								<div class="ui red empty circular label"></div>
								b5Xd77
								<i class="dropdown icon"></i>
								<div class="menu">
									<div class="item">View Grading</div>
									<div class="ui divider"></div>
									<div class="item" data-content="Exam can be taken by students with this token." data-value="openToken">Open</div>
									<div class="item" data-content="Prevents use to token to take an exam." data-value="closeToken">Close</div>
									<div class="item" data-content="Closes exam and allows students to view grades." data-value="releaseToken">Release</div>

								</div>
							</div>

						</div>



					</div>

				</div>
			</div>
			<div class="ui bottom attached button" data-id="{{ exam.id }}" data-role="new-token">
				<i class="plus icon"></i>Generate New Token
			</div>
		</div>
		{% endfor %}

	</div>
	{% else %}
	<div class="center aligned column" style="padding:3em">
		<h1 class="ui faded text huge header">
			No exams exist for this course!
		</h1>
		<a class="ui basic blue button new-exam-btn"><i class="plus icon"></i>Create a new exam</a>
	</div>
	{% endif %}

</div>
{% endblock %}

{% block javascript %}

{% load static %}
<script src="{% static 'js/rename-course.js' %}"></script>
<script src="{% static 'js/delete-course.js' %}"></script>
<script src="{% static 'js/course.js' %}"></script>
{% endblock %}
