<div class="four wide column">
    <a class="ui fluid blue button" href="/dashboard/exams/?course_num={{courseNum}}"><i class="icon plus"></i>New Exam</a>
    <h3 class="ui dividing header">Courses</h3>
    <div class="ui fluid vertical blue menu">
        {% for course in teacher.courses.all %}
            {% if course.id == courseNum %}
                <a href="{% url 'dashboard.views.course' course.id %}" class="active item">{{ course.name }}</a>
            {% else %}
                <a href="{% url 'dashboard.views.course' course.id %}" class="item">{{ course.name }}</a>
            {% endif %}
        {% endfor %}
        <a class="item ui faded text center aligned" id="addCourseBtn"> <span><i class="icon plus"></i>Add Course</span></a>
    </div>
    {% include "dashboard/modals/addCourse.html" %}
</div>

