<!DOCTYPE html>
<html>
	<head>
		<!-- Meta data -->
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<title>Parkway Testing Application</title>

		<!-- CSS -->
		<link rel="stylesheet" href="http://cdn.patcave.info/css/semantic.min.css">
		<link rel="stylesheet" href="http://cdn.patcave.info/css/semantic-typography.css">
		<style>
			body{
				min-width:960px;   
			}

			.ui[class*="padded"].table td{
				padding:1em !important;
			}
		</style>
	</head>
	<body>
		<div class="ui inverted basic segment page grid" style="margin-top:0; margin-bottom:0">
			<div class="column row">
				<a href="#" style="float:left">
					<h1 class="ui inverted header">Admin Dashboard</h1>
				</a>
				<div class="ui right floated text inverted menu">
					<div class="no hover item">
						<span class="ui bold text">Joe Teach</span>
					</div>
					<a href="#" class="item">Help</a>
					<a href="login.html" class="item">Logout</a>
				</div>
			</div>
			<div class="row" style="padding-bottom:1px">
				<div class="ui bold secondary inverted blue pointing menu" style="background:#1b1c1d;">
					<a class="active item">Manage Courses</a>
					<a class="item">Gradebook</a>
					<a class="item">Open Exams</a>
				</div>
			</div>
		</div>

		<div class="ui page grid">
			<div class="four wide column">
				<div class="ui fluid blue button"><i class="icon plus"></i> New Test</div>

				<h3 class="ui dividing header">Courses</h3>
				<div class="ui fluid vertical blue menu">
					<a class="active item">CS2050 - Algorithm Design II</a>
					<a class="item">ECE 1210 - Digital Logic</a>
					<a class="item">CS1000 - Introduction to Computer Science</a>
					<a class="item ui faded text center aligned"> <span><i class="icon plus"></i>Add Course</span></a>
				</div>
			</div>
			<div class="twelve wide column" id="main">

				<h1 class="ui dividing header">
					<div class="content">
						Create Exam
					</div>
				</h1>
				<div class="row">
					<div class="ui small buttons">
						<div class="ui button"><i class="privacy icon"></i> Generate Token</div>
						<div class="ui button"><i class="share icon"></i> Export</div>
						<div class="ui button"><i class="print icon"></i> Print</div>
					</div>
					<div class="column right floated">
						<div class="ui small buttons">
							<div class="ui red button"><i class="delete icon"></i> Delete Exam</div>
						</div>
					</div>
				</div>
				<br>
				<form class="ui form">
					<div class="two fields">
						<div class="field">
							<label>Exam Name</label>
							<input type="text" name="first-name" placeholder="Exam Name"> 
						</div>
						<div class="field">
							<label>Course</label>
							<select class="ui dropdown">
								<option value="1">CS2050 - Advanced Algorithm Design</option>
								<option value="0">ECE 1210 - Digital Logic</option>
								<option value="0">CS1000 - Introduction to Computer Science</option>
							</select>
						</div>

					</div>


				</form>

				<div class="ui hidden divider"></div>
				<div class="ui top attached fluid two item tabular menu">
					<a class="active item" data-tab="tab_edit">Edit</a>
					<a class="item" data-tab="tab_preview">Preview</a>
				</div>
				<div class="ui bottom attached active tab segment" data-tab="tab_edit">
					<div class="ui divided items" data-role="questionContainer">

						<div class="item">
							<input type="hidden" value='{"prompt":"What?","type":"truefalse","options":{}}'>
							<div class="content">
								<div class="header">Question 1</div>
								<div class="meta">
									<div class="ui padded stackable grid">
										<div class="three wide column">
											<span class="type">Multiple Choice</span>
											<br>
											<span class="options">5 Options</span>
										</div>
										<div class="ten wide column">
											<span class="prompt">What?</span>
										</div>
										<div class="two wide column center aligned">
											<div class="ui mini basic icon button" data-role="edit" data-content="Edit"><i class="pencil icon"></i></div>
											<div class="ui mini basic icon button" data-role="delete" data-content="Delete"><i class="delete icon"></i></div>
										</div>
									</div>
								</div>
							</div>
						</div>


					</div>

					<div class="ui hidden divider"></div>
					<div class="ui fluid huge button" data-role="newQuestion"><i class="plus icon"></i> Add Question</div>
				</div>
				<div class="ui bottom attached tab segment" data-tab="tab_preview">

				</div>
			</div>
		</div>


		<div class="ui form raised secondary segment" id="newquestionform" style="display:none">
			<a style="float:right; color:rgba(0, 0, 0, 0.8) !important" data-role='close' data-content="Cancel"><i class="delete icon"></i></a>
			<h3 class="ui left floated header">New Question</h3>

			<div class="field">
				<label for="prompt">Prompt:</label>
				<input type="text" name="prompt" placeholder="What is the..."> 
			</div>

			<div class="ui tiny header">Question Type:</div>
			<div class="field">
				<select class="ui dropdown" name="type" data-role="questionType">
					<option value="multichoice">Multiple Choice</option>
					<option value="truefalse">True / False</option>
					<option value="shortanswer">Short Answer</option>
					<option value="essay">Essay</option>
				</select>
			</div>

			<div class="ui segment">
				<div class="field">
					<label>Options:</label>
				</div>

				<div class="field">
					<!-- Multiple Choice -->
					<div class="ui multichoice options">
						<div class="two fields">
							<div class="one wide field" style="line-height: 3rem">
								<div class="ui radio checkbox">
									<input type="radio" name="option" checked="checked">
									<label for="option"></label>
								</div>
							</div>
							<div class="six wide field">
								<label></label>
								<div class="ui icon input">
									<input type="text" placeholder="New Option..." name="option">
									<i class="delete icon"></i>
								</div>
							</div>
						</div>

					</div>

					<!-- True / False-->
					<div class="ui truefalse options">
						<div class="field">
							<span>False</span>
							<div class="ui toggle fitted checkbox" style="margin:0 1em">
								<input type="checkbox" name="public">
							</div>
							<span>True</span>
						</div>
					</div>

					<!-- Short Answer -->
					<div class="ui shortanswer options">
						<div class="field">
							<h2 class="ui faded centered text header">No options available</h2>						
						</div>
						<br>
					</div>

					<!-- Essay -->
					<div class="ui essay options">
						<div class="field">
							<h2 class="ui faded centered text header">No options available</h2>						
						</div>
						<br>
					</div>
				</div>



			</div>
			<br>
			<div class="two fields">                                
				<div class="ui right floated button" data-role="close">Cancel</div>
				<div class="ui blue button" data-role="save">Save Question</div>
			</div>

			<div class="ui inverted dimmer">
				<h2 class="ui icon header" style="position:absolute; top:25%; left:0; right:0">
					<i class="green checkmark icon"></i>
					Question Saved!
				</h2>
			</div>
		</div>

		<div class="item questionSummary" style="display:none">
			<input type="hidden">
			<div class="content">
				<div class="header">Question</div>
				<div class="meta">
					<div class="ui padded stackable grid">
						<div class="three wide column">
							<span class="type"></span>
							<br>
							<span class="options"></span>
						</div>
						<div class="ten wide column">
							<span class="prompt"></span>
						</div>
						<div class="two wide column center aligned">
							<div class="ui mini basic icon button" data-role="edit" data-content="Edit"><i class="pencil icon"></i></div>
							<div class="ui mini basic icon button" data-role="delete" data-content="Delete"><i class="delete icon"></i></div>
						</div>
					</div>
				</div>
			</div>
		</div>


		<!-- Javascript -->
		<script src="http://cdn.patcave.info/js/jquery.min.js"></script>
		<script src="http://cdn.patcave.info/js/semantic.min.js"></script>
		<script>
			$('[data-content]').popup({
				position:'top center',
				transition:'drop'
			});

			$('.ui.menu .item').tab();
			$('.ui.dropdown:not(select[data-role="questionType"])').dropdown();
			$('.ui.checkbox').checkbox();

			$('#newquestionform .dimmer').dimmer({
				duration:{
					show:500, 
					hide:0
				}
			});


			var questionDataTemplate = {
				question_id:'',
				prompt:'',
				type:'',
				options:{},
				clone:function(){
					return $.extend(true, {}, this)
				}
			};

			(function ($) {
				$.fn.questionForm = function(options){

					//Globals
					var form = this;
					var items = $('[data-tab="tab_edit"]').find('.items');

					//Settings
					var settings = $.extend({
						newQuestionButton: 		".ui.button[data-role='newQuestion']",
						editButton: 			".ui.button[data-role='edit']",
						deleteQuestionButton: 	".ui.button[data-role='delete']",
						saveButton:				".ui.button[data-role='save']",
						closeButton:			"[data-role='close']",
						questionTypeSelector:	"select[data-role='questionType']"
					}, options );

					//Aux functions
					form.clear = function(){
						form.removeClass('loading');
						form.find('.dimmer').dimmer('hide');
					};

					form.setValue = function(item, value){
						switch(item){
							case 'header':
								form.find('h3.header').text(value);	
								break;

							case 'prompt':
								form.find('input[name="prompt"]').val(value);
								break;

							case 'questionType':
								form.find('div.ui.dropdown.selection').dropdown('set selected', value);
								break;
						}
					};

					form.setLoading = function(){
						form.addClass('loading');
					};

					form.move = function(location){
						form.close();
						form.clear();
						form.appendTo(location);
						form.show();
					};

					form.close = function(){
						form.hide();
						$(settings.newQuestionButton).show();
						items.find('.item .content').show();
					};

					//Event listeners
					$(settings.newQuestionButton).on('click', function(){
						form.setValue('header', 'New Question');
						form.setValue('prompt', '');
						form.move( $('.ui.segment[data-tab="tab_edit"]') );
						$(this).hide();
					});

					form.find(settings.closeButton).on('click', function(){
						form.close();
					});

					$(settings.questionTypeSelector).dropdown({
						onChange: function(value, text, $choice){
							form.find('.options').each(function(){
								$(this).hide();
							});

							switch(value){
								case 'multichoice':
									form.find('.multichoice.options').show();
									break;	
								case 'truefalse':
									form.find('.truefalse.options').show();
									break;	
								case 'shortanswer':
									form.find('.shortanswer.options').show();
									break;	
								case 'essay':
									form.find('.essay.options').show();
									break;	 
							}
						}
					});

					$(settings.deleteQuestionButton).on('click', function(){
						var questionSummary = this.closest('.item');

						//TODO Hookup to deletion endpoint
						$.ajax({
							url: '/api/question',
							type: 'POST',
							data: ajaxData,
							beforeSend: function(xhr) {
								xhr.setRequestHeader('X-CSRFToken', token);
							},
							success: function() {
								$(questionSummary).remove();
							}
						});


					});

					$(settings.editButton).on('click', function(){
						var questionSummary = this.closest('.item');
						var dataHolder = $(questionSummary).find('input[type="hidden"]');

						var questionData = JSON.parse(dataHolder.val());	

						form.setValue('prompt', questionData.prompt);
						form.setValue('questionType', questionData.type);

						//TODO Load options

						form.move(questionSummary);
						$(questionSummary).children('.content').hide();

					});

					form.find(settings.saveButton).on('click', function(){
						form.setLoading();
						var questionSummary = this.closest('.item');

						//Get form data
						var questionData = questionDataTemplate.clone();
						var formData = form.form('get values');

						questionData.prompt = formData.prompt;
						questionData.type = formData.type;

						//Check if question is new or exists
						if(questionSummary == null){
							questionSummary = $(".item.questionSummary").clone();

							questionSummary.removeClass('questionSummary');
							questionSummary.appendTo(items);
						}

						//Get elements to load data into
						var prompt = $(questionSummary).find('span.prompt');
						var type = $(questionSummary).find('span.type');
						var options = $(questionSummary).find('span.options');
						var dataHolder = $(questionSummary).find('input[type="hidden"]');

						//Set values
						prompt.text(questionData.prompt);
						dataHolder.val(JSON.stringify(questionData));

						switch(questionData.type){
							case 'multichoice':
								type.text("Multiple Choice");
								options.text('5 Options');
								break;	
							case 'truefalse':
								type.text("True / False");
								options.text('True');
								break;	
							case 'shortanswer':
								type.text('Short Answer');
								break;	
							case 'essay':
								type.text('Essay');
								break;	
						}

						$('#newquestionform .dimmer').dimmer('show');

						setTimeout(function(){
							form.close();
							$(questionSummary).show();

						}, 250);


						return;

						//TODO Perform AJAX call
						var ajaxData;
						var token = form.find('input[name=csrfmiddlewaretoken]').val();

						$.ajax({
							url: '/api/question',
							type: 'POST',
							data: ajaxData,
							beforeSend: function(xhr) {
								xhr.setRequestHeader('X-CSRFToken', token);
							},
							success: function() {
								$('#newquestionform .dimmer').dimmer('show');
								form.close();
								$(questionSummary).show();
							}
						});


					});

				};
			}(jQuery));

			$('#newquestionform').questionForm();


		</script>
	</body>
</html>