{% extends "dashboard/common/base.html" %}

{% block pagecontent %}

{% include "dashboard/courses-list.html" with course=exam.course %}

<div class="twelve wide column" id="main">

    <div class="ui active tab">
        <h1 class="ui dividing header">
            <div class="content">
                Edit Exam
            </div>
        </h1>

        <div class="row">
            <div class="ui small buttons">
                <div class="ui button"><i class="privacy icon"></i> Generate Token</div>
                <div class="ui button"><i class="share icon"></i> Export</div>
                <div class="ui button"><i class="print icon"></i> Print</div>
            </div>
            <div class="column right floated">
                <div class="ui small buttons">
                    <div class="ui red button"><i class="delete icon"></i> Delete Exam</div>
                </div>
            </div>
        </div>
        <br>
        <form class="ui form">
            <div class="two fields">
                <div class="field">
                    <label>Exam Name</label>
                    <input disabled value="{{ exam.name }}" type="text" name="first-name" placeholder="Exam Name">
                </div>
                <div class="field">
                    <label>Course</label>
                    <input disabled value="{{ exam.course.name }}" type="text">
                </div>

            </div>
        </form>

        <div class="ui hidden divider"></div>
        <div class="ui top attached fluid two item tabular menu">
            <a class="active item" data-tab="first">Edit</a>
            <a class="item" data-tab="second">Preview</a>
        </div>
        <div class="ui bottom attached active tab segment" data-tab="first">

            <div class="ui divided items">

                {% for question in exam.question_set.all %}
                <div class="item" data-role="question">
                    <div class="content">
                        <div class="header">Question {{ forloop.counter }}</div>
                        <div class="meta">

                            <div class="ui padded stackable grid">
                                <div class="three wide column">
                                    {{ question.category }}
                                </div>
                                <div class="ten wide column">
                                    {{ question.text }}
                                </div>
                                <div class="two wide column center aligned">
                                    <div class="ui mini green icon button" data-content="Edit"><i class="pencil icon"></i></div>
                                    <div class="ui mini red icon button" data-role="delete" data-id="{{ question.id }}" data-content="Delete">
                                        {% csrf_token %}
                                        <i class="delete icon"></i>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>

            <div class="ui hidden divider"></div>
            <div class="ui fluid huge button" id="addquestion">
                <i class="plus icon"></i>
                Add Question
            </div>


		<div class="ui form raised secondary segment" id="newquestionform" style="display:none">
			<a style="float:right" data-role='close' data-content="Cancel"><i class="delete icon"></i></a>
			<h3 class="ui left floated header">New Question</h3>
            {% csrf_token %}

			<div class="field">
				<label for="prompt">Prompt:</label>
				<input type="text" name="prompt" placeholder="What is the..."> 
			</div>

			<div class="ui tiny header">Question Type:</div>
			<select id="question-type-selection" class="ui dropdown" name="type">
                <option></option>
				<option value="multichoice">Multiple Choice</option>
				<option value="truefalse">True / False</option>
				<option value="shortanswer">Short Answer</option>
				<option value="essay">Essay</option>
			</select>
			<div id="question-specifics-segment" class="ui segment" hidden>

				<!-- Multiple Choice -->
				<form class="ui form" name="multichoice" hidden>
					<div class="class six wide field">
						<label>Options (the one selected is the answer):</label>
					</div>

					<div class="two fields">
						<div class="one wide field" style="line-height: 3rem">
							<div class="ui radio checkbox">
								<input type="radio" name="option" checked="checked">
								<label for="option"></label>
							</div>
						</div>
						<div class="six wide field">
							<label></label>
							<div class="ui icon input">
								<input type="text" name="choice" placeholder="New Option...">
								<i class="delete icon"></i>
							</div>
						</div>
					</div>

					<div class="two fields">
						<div class="one wide field" style="line-height: 3rem">
							<div class="ui radio checkbox">
								<input type="radio" name="option">
								<label for="option"></label>
							</div>
						</div>
						<div class="six wide field">
							<label></label>
							<div class="ui input">
								<input type="text" name="choice" placeholder="New Option...">
							</div>
						</div>
					</div>
                    <div class="ui blue button add-multichoice-choice">+</div>
				</form>
                <div id="default-multichoice-option" class="two fields" hidden>
						<div class="one wide field" style="line-height: 3rem">
							<div class="ui radio checkbox">
								<input type="radio" name="option">
								<label for="option"></label>
							</div>
						</div>
						<div class="six wide field">
							<label></label>
							<div class="ui input">
								<input type="text" name="choice" placeholder="New Option...">
							</div>
						</div>
                        <div class="ui button right red small delete" style="margin-top: 8px;" onclick="$(this).parent().remove();">-</div>
					</div>
			<!-- True / False-->
			<form class="ui form" name="truefalse" hidden>
				<div class="field">
					<label>Answer:</label>
					<span>False</span>
					<div class="ui toggle fitted checkbox" style="margin:0 1em">
						<input type="checkbox" name="public">
					</div>
					<span>True</span>
				</div>
			</form>
			</div>

			<div class="ui divider"></div>
			<div id="question-save-bar" class="two fields" hidden>
				<div class="ui right floated button" data-role="close">Cancel</div>
				<div class="ui blue button" data-role="save">Save Question</div>
			</div>

			<div class="ui inverted dimmer">
				<h2 class="ui icon header">
					<i class="green checkmark icon"></i>
					Question Saved!
				</h2>
			</div>
		</div>

        <div class="ui bottom attached tab segment" data-tab="second">
           {% include 'dashboard/questions.html' %}
        </div>

    </div>

</div>
{% endblock %}

{% block javascript %}

{% load static %}
<script src="{% static 'js/jquery.cookie.js' %}"></script>
<script src="{% static 'js/add-course.js' %}"></script>
<script src="{% static 'js/new-exam.js' %}"></script>
<script src="{% static 'js/exam.js' %}"></script>

<script>
    (function ($) {
        $.fn.questionForm = function(options){

            var form = this;
            var items = $('[data-tab="tab_edit"]').find('.items');

            var settings = $.extend({
                newQuestionButton: 		".ui.button[data-role='newQuestion']",
                editButton: 			".ui.button[data-role='edit']",
                deleteQuestionButton: 	".ui.button[data-role='delete']",
                saveButton:				".ui.button[data-role='save']",
                closeButton:			"[data-role='close']",
            }, options );

            form.clear = function(){
                form.removeClass('loading');
                form.find('.dimmer').dimmer('hide');
            };

            form.setValue = function(item, value){
                switch(item){
                    case 'header':
                        form.find('h3.header').text(value);
                        break;

                    case 'prompt':
                        form.find('input[name="prompt"]').val(value);
                        break;

                    case 'questionType':
                        form.find('div.ui.dropdown.selection').dropdown('set selected', value);
                        break;
                }
            };

            form.setLoading = function(){
                form.addClass('loading');
            };

            //Moves the form to different locations
            form.move = function(location){
                form.close();
                form.appendTo(location);
                form.show();
            };

            form.close = function(){
                form.hide();
                $(settings.newQuestionButton).show();
                items.find('.item .content').show();
            };

            //Listener for new question at bottom of page
            $(settings.newQuestionButton).on('click', function(){
                form.setValue('header', 'New Question');
                form.setValue('prompt', '');
                form.move( $('.ui.segment[data-tab="tab_edit"]') );
                $(this).hide();
            });

            form.find(settings.closeButton).on('click', function(){
                form.close();
            });

            $(settings.editButton).on('click', function(){
                var parent = this.closest('.item');

                var qid = $(parent).attr('data-qid');
                var question;

                $.each(examData.questions, function(i, v) {
                    if (v.qid == qid) {
                        question = v;
                    }
                });

                switch(question.type){
                    case "multichoice":
                        form.setValue('questionType', 'Multiple Choice');
                        break;

                    case "truefalse":
                        form.setValue('questionType', 'True / False');
                        break;
                }

                form.setValue('prompt', question.prompt);

                form.move(parent);
                $(parent).children('.content').hide();

            });

            form.multiChoiceData = function() {
                question = form.form('get values');
                question.options = {}

                var multiform = form.find('form[name=multichoice]');
                var choices = multiform.find('input[name=choice]');
                choices = choices.map(function() {
                    return $(this).val();
                }).get();

                var selectedRadio = multiform.find('input:radio[checked=checked]');
                var selectedInput = selectedRadio.closest('.fields').find('input:text');
                var answer = selectedInput.val();

                var answerIndex = choices.indexOf(answer);
                choices.splice(answerIndex, 1);

                question.options.choices = choices;
                question.options.answer = answer;

                return question;
            };

            form.find(settings.saveButton).on('click', function(){
                form.setLoading();

                var type = form.find('select[name=type]').val();
                var question;
                if (type === 'multichoice') {
                    question = form.multiChoiceData();
                }

                data = {
                    exam_id: {{ exam.id }},
                    question: JSON.stringify(question)
                }

                var token = form.find('input[name=csrfmiddlewaretoken]').val();

                $.ajax({
                    url: '/api/question',
                    type: 'POST',
                    data: data,
                    beforeSend: function(xhr) {
                        xhr.setRequestHeader('X-CSRFToken', token);
                    },
                    success: function() {
                        $('#newquestionform .dimmer').dimmer('show');
                        location.reload();
                    }
                });
            });

            return this;
        };
    }(jQuery));

    $('#newquestionform').questionForm();
</script>

{% endblock %}
