{% extends "dashboard/common/base.html" %}

{% block pagecontent %}

<div class="twelve wide column" id="main">

    {% for submission in taken_exam.submission_set.all %}
        {% with question=submission.question %}
            
            <div class="submission-container">
            <input type="hidden" name="submission-id" value="{{submission.id}}" />
            <div style="margin-bottom:15px;">
                <div class="field" style="display:inline-block;">
				    <div class="ui checkbox">
					    <input class="checkable submission-grading" data-id="{{submission.id}}" type="checkbox" name="question-grade" 
                               {% if submission.graded and submission.correct %}
                               checked
                               {% endif %}>
					    <label>This question is correct</label>
				    </div>
			    </div>
                <div class="submission-is-saved"
                     {% if not submission.graded %}
                     hidden
                     {% endif %}
                      style="display:inline-block; padding-left: 25px;">
                    <div class="ui green label"><i class="check icon"></i>Saved</div>
                </div>
            </div>
			{% if question.category == "multichoice"  %}
			{% include "student/partials/multichoice.html" %}
			{% endif %}
				
			{% if question.category == "multiselect"  %}
			{% include "student/partials/multiselect.html" %}
			{% endif %}

			{% if question.category == "shortanswer" %}
			{% include "student/partials/shortanswer.html" %}
			{% endif %}

			{% if question.category == "essay" %}
			{% include "student/partials/essay.html" %}
			{% endif %}

			{% if question.category == "truefalse" %}
			{% include "student/partials/truefalse.html" %}
			{% endif %}
            </div>
        {% endwith %}
    {% endfor %}
</div>
{% endblock %}

{% block javascript %}

{% load static %}
<script>
    $(document).ready(function () {
        $('.submission-grading').each(function (i,v) {
            var element = $(v);
            wire_to_save(element);
        })
        function wire_to_save (element) {
            element.on('change', function () {
                var my_id = $(this).attr('data-id')
                var checked = $(this).is(':checked')
                var parent = element.closest('.submission-container');
                parent.find('.submission-is-saved').hide()
                $.ajax({
                    type: "PUT",
                    url: '/api/submissions',
                    data: {
                        'submission_id': my_id,
                        'correct': checked
                    },
                    headers: {
                        'X-CSRFToken': $.cookie('csrftoken'),
                        'X-METHODOVERRIDE': "PUT"
                    }
                })
            .done(function () {
                console.log(arguments)
                parent.find('.submission-is-saved').show()
            })
            .fail(function () { })
            .always(function () { })
            });
        }
        $('input.answer-text').each(function (i, v) {
            var val = $(v).attr('data-x');
            $(v).val(val);
        })
    })
</script>
{% endblock %}
