{% extends "dashboard/common/base.html" %}

{% block pagecontent %}

{% include "dashboard/courses-list.html" %}

<div class="twelve wide column" id="main">

    <div class="ui active tab">
        <h1 class="ui dividing header">
            <div class="content">
                Create Exam
            </div>
        </h1>
        <form class="ui form">
            <div class="three fields">
                <div class="one wide field"><label>Name</label></div>
                <div class="ten wide field">
                    <input value="{{ exam.name }}" type="text" name="first-name" placeholder="Exam Name">
                </div>
                <div class="four wide field">
                    <div class="ui small blue buttons">
                        <div class="ui button">Save Exam</div>
                        <div class="ui floating dropdown icon button">
                            <i class="dropdown icon"></i>
                            <div class="menu">
                                <div class="item"><i class="eye icon"></i> Generate Token</div>
                                <div class="item"><i class="share icon"></i> Export</div>
                                <div class="item"><i class="file pdf outline icon"></i> Print</div>
                                <div class="ui divider"></div>
                                <div class="item"><i class="delete icon"></i> Delete</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="three fields">
                <div class="one wide field"><label>Course</label></div>
                <div class="ten wide field">
                    <select class="ui dropdown">
                        {% for course in teacher.courses.all %}
                        <option value="{{ course.id }}">{{ course.name }}</option>
                        {% endfor %}
                    </select>

                </div>
                <div class="four wide field"></div>
            </div>
        </form>

        <div class="ui hidden divider"></div>
        <div class="ui top attached fluid two item tabular menu">
            <a class="active item" data-tab="first">Edit</a>
            <a class="item" data-tab="second">Preview</a>
        </div>
        <div class="ui bottom attached active tab segment" data-tab="first">

            <div class="ui divided items">

                {% for question in exam.question_set.all %}
                <div class="item" data-role="question">
                    <div class="content">
                        <div class="header">Question {{ forloop.counter }}</div>
                        <div class="meta">

                            <div class="ui padded stackable grid">
                                <div class="three wide column">
                                    {{ question.category }}
                                </div>
                                <div class="ten wide column">
                                    {{ question.text }}
                                </div>
                                <div class="two wide column center aligned">
                                    <div class="ui mini green icon button" data-content="Edit"><i class="pencil icon"></i></div>
                                    <div class="ui mini red icon button" data-role="delete" data-action="{% url 'dashboard.views.question' question.id %}" data-content="Delete">
                                        {% csrf_token %}
                                        <i class="delete icon"></i>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>

            <div class="ui hidden divider"></div>
            <div class="ui fluid huge button" id="addquestion">
                <i class="plus icon"></i>
                Add Question
            </div>


            <div class="ui form raised secondary segment" id="newquestionform" style="display:none">
                <h3 class="ui header">New Question</h3>
                <div class="field">
                    <label for="">Prompt:</label>
                    <input type="text" name="thing" placeholder="What is the..."> 
                </div>

                <div class="ui tiny header">Question Type:</div>
                <div class="ui fluid four item tabular top attached menu">
                    <a class="active item">Multiple Choice</a>
                    <a class="item">True / False</a>
                    <a class="item">Short Answer</a>
                    <a class="item">Essay</a>
                </div>
                <div class="ui bottom attached segment">

                    <!-- Multiple Choice -->
                    <form class="ui form">
                        <div class="class five wide field">
                            <label>Options:</label>
                        </div>
                        <div class="two fields">
                            <div class="one wide field">
                                <label></label>
                                <div class="ui radio checkbox">
                                    <input type="radio" name="fruit" checked>
                                </div>
                            </div>
                            <div class="six wide field">
                                <label></label>
                                <div class="ui input">
                                    <input type="text" placeholder="New Option...">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <!-- True / False-->
                <form class="ui hidden form">
                    <div class="field">
                        <label>Answer:</label>
                        <span>False</span>
                        <div class="ui toggle fitted checkbox" style="margin:0 1em">
                            <input type="checkbox" name="public">
                        </div>
                        <span>True</span>

                    </div>

                </form>


                <div class="ui divider"></div>
                <div class="two fields">
                    <div class="ui right floated button">Cancel</div>
                    <div class="ui blue button">Save Question</div>
                </div>
            </div>

        </div>

        <div class="ui bottom attached tab segment" data-tab="second">
           {% include 'dashboard/questions.html' %}
        </div>

    </div>

</div>
{% endblock %}

{% block javascript %}

{% load static %}
<script src="{% static 'js/jquery.cookie.js' %}"></script>
<script src="{% static 'js/add-course.js' %}"></script>
<script src="{% static 'js/exam.js' %}"></script>

{% endblock %}
