{% extends "dashboard/common/base.html" %}

{% block pagecontent %}

<div class="twelve wide column" id="main">

    <h1><a href="#" data-token="{{ token_id }}" id="grade-link">AUTO GRADE THE DARN THING</a></h1>
    {% for taken_exam in taken_exams %}
        <h1>{{taken_exam.student.name }}; {{taken_exam.score}}/{{total_possible}}; <a href="/dashboard/grade-exam/{{taken_exam.token.id}}/{{taken_exam.student.id}}">view</a> </h1>
    {% endfor %}
</div>
{% endblock %}

{% block javascript %}

{% load static %}
<script src="{% static 'js/grades.js' %}"></script>
{% endblock %}
