{% extends "dashboard/common/base.html" %}

{% block pagecontent %}

<div class="twelve wide column" id="main">

    <h1><a href="#" id="grade-link">AUTO GRADE THE DARN THING</a></h1>
    {% for taken_exam in taken_exams %}
        <h1>{{taken_exam.student.name }}; {{taken_exam.score}}%; <a href="/dashboard/grade-exam/{{taken_exam.student.id}}/{{taken_exam.token.id}}">view</a> </h1>
    {% endfor %}
</div>
{% endblock %}

{% block javascript %}

{% load static %}
<script>
    $(document).ready(function () {
        $('#grade-link').on('click', function () {
            //call to grade
            $.ajax({
                type: "POST",
                url: '/api/grade',
                data: {
                    'token_id': {{token_id}} 
                },
                headers: {
                    'X-CSRFToken': $.cookie('csrftoken')
                }
            })
		.done(function () { })
		.fail(function () { })
		.always(function () { })
        });
    })
</script>
{% endblock %}
