{% extends "dashboard/common/base.html" %}

{% block pagecontent %}

    <div class="sixteen wide center aligned column" id="main">
        <h1 class="ui huge icon header">
           <i class="warning circle icon"></i>
            You havent created any courses yet!
            <div class="sub header">Can't do much without a course...</div>
        </h1>
        <br>
        <div class="ui huge blue labeled icon button" id="addCourseBtn"><i class="plus icon"></i> Click to add a course!</div>
    </div>
     {% include "dashboard/modals/addCourse.html" %}

{% endblock %}
