{% extends "dashboard/common/base.html" %}

{% block pagecontent %}

    <div class="sixteen wide center aligned column" id="main">
        <h1 class="ui huge icon header">
           <i class="warning circle icon"></i>
            You havent created any courses yet!
            <div class="sub header">Can't do much without a course...</div>
        </h1>
    </div>
     {% include "dashboard/modals/addCourse.html" %}

{% endblock %}

{% block javascript %}

{% load static %}
<script src="{% static 'js/add-course.js' %}"></script>

{% endblock %}
