<!DOCTYPE html>
<html>
	<head>
		<!-- Meta data -->
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<title>Parkway Testing Application</title>

		{% load static %}

		<!-- CSS -->
		<link rel="stylesheet" href="{% static 'css/semantic-new.min.css' %}">
		<link rel="stylesheet" href="{% static 'css/semantic-typography.css' %}">
		<link rel="stylesheet" href="{% static 'css/base.css' %}">
		<link rel="stylesheet" href="{% static 'css/dashboard/preview-exam.css' %}">

	</head>
	<body>
		<input type="hidden" id="refresh" value="no" />
		<div class="ui inverted basic segment page grid" style="margin-top:0; margin-bottom:0">
			<div class="column row">
				<a href="#" style="float:left">
					<h1 class="ui inverted header">Admin Dashboard</h1>
				</a>
				<div class="ui right floated text inverted menu">
					<div class="no hover item">
						<span class="ui bold text">{{ teacher.name }}</span>
					</div>
					<a href="#" class="item">Help</a>
					<a href="/logout/" class="item">Logout</a>
				</div>
			</div>
		</div>

		<div class="ui very relaxed page two column grid padded segment" style="background-color:#f0f0f0 !important">
			<div class="row">
				<h1 class="ui header" style="padding:0.5em">
					{% firstof course.name exam.course.name %}
					<div style="float:right">
						<div class="ui tiny blue button" data-role="renameCourse">Rename Course</div>
						<div class="ui tiny red button" id="delete-course">Delete Course</div>
					</div>
					<div class="ui indented text sub header">

					</div>
				</h1>


			</div>
		</div>

		<div class="ui stackable doubling page grid">
			{% block pagecontent %}
			{% endblock %}
		</div>

		<!-- Javascript -->
		<script src="{% static 'js/jquery.min.js' %}"></script>
		<script src="{% static 'js/semantic.min.js' %}"></script>
		<script src="{% static 'js/jquery.cookie.js' %}"></script>
		<script src="{% static 'js/jquery.noty.packaged.min.js' %}"></script>
		<script src="{% static 'js/base.js' %}"></script>

		<script src="{% static 'js/add-course.js' %}"></script>
		<script src="{% static 'js/new-exam.js' %}"></script>

		{% block javascript %}
		{% endblock %}
	</body>
</html>
