<div class="essay question">
	<h2 class="ui top attached header">
		<div class="content">
			Question 5
			<div class="right floated">
				<div class="ui label"><i class="warning icon"></i>Not Saved</div>
			</div>
			<div class="sub header">
				1000 Points
			</div>
		</div>
		<a class="ui left corner label" style="margin:0;">
			<i class="flag icon"></i>
		</a>
	</h2>

	<div class="ui raised bottom attached segment">
		<div class="ui dividing header">Write me a love song.</div>
		<form class="ui form">
			<div class="grouped fields">
				<label>Answer:</label>
				<div class="field">
					<textarea></textarea>
				</div>
			</div>
		</form>
	</div>
</div>