<div class="multichoice question">
	<h2 class="ui top attached header">
		<div class="content">
			Question 1
			<div class="right floated">
				<div class="ui green label"><i class="check icon"></i>Saved</div>
			</div>
			<div class="sub header">
				5 Points
			</div>
		</div>
		<a class="ui left corner label" style="margin:0;">
			<i class="flag icon"></i>
		</a>
	</h2>

	<div class="ui raised bottom attached segment">
		<div class="ui dividing header">Who invented the HTTP protocol?</div>
		<form class="ui form">
			<div class="grouped fields">
				<label>Answer:</label>
				<div class="field">
					<div class="ui radio checkbox checked">
						<input type="radio" name="choice">
						<label>Richard Stallman</label>
					</div>
				</div>
				<div class="field">
					<div class="ui radio checkbox checked">
						<input type="radio" name="choice">
						<label>Linus Torvolds</label>
					</div>
				</div>
				<div class="field">
					<div class="ui radio checkbox checked">
						<input type="radio" name="choice">
						<label>Ben Sammons</label>
					</div>
				</div>

			</div>
		</form>
	</div>
</div>