<div class="multichoice question">
	<h2 class="ui top attached header">
		<div class="content">
			Question {{forloop.counter}}
			<div class="right floated questionSaved">
				<div class="ui green label"><i class="check icon"></i>Saved</div>
			</div>
			<div class="sub header">
				{{question.points}} Points
			</div>
		</div>
		<a class="ui left corner label" style="margin:0;">
			<i class="flag icon"></i>
		</a>
	</h2>

	<div class="ui raised bottom attached segment">
        <input class="question-id" type="hidden" name="question_id" data-x="question_id" value="{{ question.id }}" />
        <input type="hidden" name="submission_id" data-x="submission_id" value="" />
		<div class="ui dividing header">{{ question.text }}</div>
		<form class="ui form">
			<div class="grouped fields">
				<label>Answer:</label>
                {% for choice in question.choices.all %}
                <div class="field">
					<div class="ui radio checkbox checked">
						<input class="checkable" type="radio" name="choice" value="{{choice.text}}">
						<label>{{ choice.text }}</label>
					</div>
				</div>
                {% endfor %}
			</div>
		</form>
	</div>
</div>