<div class="multiselect question">
	<h2 class="ui top attached header">
		<div class="content">
			Question 2
			<div class="right floated">
				<div class="ui label"><i class="warning icon"></i>Not Saved</div>
			</div>
			<div class="sub header">
				5 Points
			</div>
		</div>
		<a class="ui left corner label" style="margin:0;">
			<i class="flag icon"></i>
		</a>
	</h2>

	<div class="ui raised bottom attached segment">
		<div class="ui dividing header">Name the least efficient sorting algorithm.</div>
		<form class="ui form">
			<div class="grouped fields">
				<label>Answer: <span class="ui faded text">(Select all that apply)</span></label>
				<div class="field">
					<div class="ui checkbox">
						<input type="checkbox" name="choice">
						<label>Merge Sort</label>
					</div>
				</div>
				<div class="field">
					<div class="ui checkbox">
						<input type="checkbox" name="choice">
						<label>Bubble Sort</label>
					</div>
				</div>
				<div class="field">
					<div class="ui checkbox">
						<input type="checkbox" name="choice">
						<label>Cocktail Sort</label>
					</div>
				</div>
				<div class="field">
					<div class="ui checkbox">
						<input type="checkbox" name="choice">
						<label>Bogobogo Sort</label>
					</div>
				</div>

			</div>
		</form>
	</div>
</div>