<div class="shortanswer question">
	<h2 class="ui top attached header">
		<div class="content">
			Question 4
			<div class="right floated">
				<div class="ui label"><i class="warning icon"></i>Not Saved</div>
			</div>
			<div class="sub header">
				100 Points
			</div>
		</div>
		<a class="ui left corner label" style="margin:0;">
			<i class="flag icon"></i>
		</a>
	</h2>

	<div class="ui raised bottom attached segment">
		<div class="ui dividing header">What is love?</div>
		<form class="ui form">
			<div class="grouped fields">
				<label>Answer:</label>
				<div class="field">
					<div class="ui input">
						<input type="text">										
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
