<div class="truefalse question">
	<h2 class="ui top attached header">
		<div class="content">
			Question 3
			<div class="right floated">
				<div class="ui label"><i class="warning icon"></i>Not Saved</div>
			</div>
			<div class="sub header">
				2 Points
			</div>
		</div>
		<a class="ui left corner blue label" style="margin:0;">
			<i class="flag icon"></i>
		</a>
	</h2>

	<div class="ui raised bottom attached segment">
		<div class="ui dividing header">True or False: San Francisco is a city.</div>
		<form class="ui form">
			<div class="grouped fields">
				<label>Answer:</label>
				<div class="field">
					<div class="ui radio checkbox">
						<input type="radio" name="choice">
						<label>True</label>
					</div>
				</div>
				<div class="field">
					<div class="ui radio checkbox">
						<input type="radio" name="choice">
						<label>False</label>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>