<div class="truefalse question" id="question-{{question.id}}">
	<h2 class="ui top attached header">
		<div class="content">
			Question {{forloop.counter}}
        	<div class="right floated questionSaved" 
                 {% if not submission or not taking_exam %}
                 hidden
                 {% endif %}>
				<div class="ui green label"><i class="check icon"></i>Saved</div>
			</div>
			<div class="right floated questionNotSaved" hidden>
				<div class="ui label"><i class="warning icon"></i>Not Saved</div>
			</div>
			<div class="sub header">
				{{question.points}} Points
			</div>
		</div>
		<a class="ui left corner label" style="margin:0;">
			<i class="flag icon"></i>
		</a>
	</h2>

	<div class="ui raised bottom attached segment">
        <input class="question-id" type="hidden" name="question_id" data-x="question_id" value="{{ question.id }}" />
		<div class="ui dividing header">{{ question.text }}</div>
		<form class="ui form">
			<div class="grouped fields">
				<label>Answer:</label>
				<div class="field">
					<div class="ui radio checkbox">
						<input class="checkable" type="radio" name="choice" value="True"
                         {% if teacher %}
                         disabled
                         {% endif %}
                         {% if submission and submission.choices.exists %}
                         {% with choice=submission.choices.all|first %}
                         {% if choice.text == "True" %}
                         checked
                         {% endif %}
                         {% endwith %}
                         {% endif %}>
						<label>True</label>
					</div>
				</div>
				<div class="field">
					<div class="ui radio checkbox">
						<input class="checkable" type="radio" name="choice" value="False"
                         {% if teacher %}
                         disabled
                         {% endif %}
                         {% if submission and submission.choices.exists %}
                         {% with choice=submission.choices.all|first %}
                         {% if choice.text == "False" %}
                         checked
                         {% endif %}
                         {% endwith %}
                         {% endif %}>
						<label>False</label>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
